# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [1]:
%pip install pandas
%pip install 'SQLAlchemy==1.4.46'

Requirement already satisfied: pandas in /usr/local/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/pheltweg/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/pheltweg/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy==1.4.46 in /usr/local/lib/python3.11/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/site-packages (from SQLAlchemy==1.4.46) (2.0.2)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Load data

In [2]:
import pandas as pd

df = pd.read_sql_table('trainstops', 'sqlite:///data.sqlite')

### Look at the first rows

In [3]:
df.head(10)

,EVA_NR,DS100,IFOPT,NAME,Verkehr,Laenge,Breite,Betreiber_Name,Betreiber_Nr,Status
0,8002551,AELB,de:02000:11943,Hamburg Elbbrücken,RV,10.024500,53.534500,DB Station und Service AG,NaN,neu
1,8001944,TETN,None,Eutingen Nord,RV,8.753100,48.484700,DB Station und Service AG,NaN,neu
2,8003074,MIA,None,Ingolstadt Audi,RV,11.407456,48.790496,DB Station und Service AG,NaN,neu
3,8001723,HEBA,None,Einbeck Otto-Hahn-Straße,RV,9.892910,51.814478,Ilmebahn GmbH,NaN,neu
4,8004371,KRO,None,Nörvenich-Rommelsheim,nur DPN,6.547586,50.782539,Rurtalbahn GmbH,NaN,neu
5,8010340,DSTR,None,Straßgräbchen-Bernsdorf,nur DPN,14.052047,51.361469,None,NaN,neu
6,8001510,TDSA,de:08237:8009:2,Dornstetten-Aach,RV,8.482910,48.473300,DB Station und Service AG,NaN,neu
7,8001966,MFOL,de:09187:90183,Feldolling,nur DPN,11.852244,47.895336,DB Station und Service AG,NaN,neu
8,8002060,FFGG,de:06412:11500,Frankfurt(Main)-Gateway Gardens,RV,8.594495,50.056574,DB Station und Service AG,NaN,neu
9,8002535,EOBG,de:05962:3517,Halver-Oberbrügge,RV,7.574042,51.191867,DB Station und Service AG,NaN,neu

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

In [6]:
df.info()

df['Status'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVA_NR          6519 non-null   int64
 1   DS100           6519 non-null   object
 2   IFOPT           6512 non-null   object
 3   NAME            6519 non-null   object
 4   Verkehr         6519 non-null   object
 5   Laenge          6519 non-null   float64
 6   Breite          6519 non-null   float64
 7   Betreiber_Name  6517 non-null   object
 8   Betreiber_Nr    5395 non-null   float64
 9   Status          24 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 509.4+ KB

array(['neu', None], dtype=object)

In [3]:
Lfd. Nummer 
11110
READONLY
INTEGER
 
Name des Flughafens 
Pocono Mountains Municipal Airport
READONLY
TEXT
 
Ort 
Mount Pocono
READONLY
TEXT
 
Land 
United States
READONLY
TEXT
 
IATA 
0
READONLY
TEXT
 
ICAO 
KMPO
READONLY
TEXT
 
Latitude 
41.13750076
READONLY
REAL
 
Longitude 
-75.37889862
READONLY
REAL
 
Altitude 
584
READONLY

SyntaxError: invalid syntax (1188319687.py, line 6)

In [2]:
import pandas as pd
x = pd.read_csv('/home/cip/ce/ix05ogym/Majid/MADE/exercises/rhein-kreis-neuss-flughafen-weltweit.csv',delimiter=';')
x[['Lfd. Nummer', 'Name des Flughafens', 'Ort', 'Land', 'IATA', 'ICAO',
       'Latitude', 'Longitude', 'Altitude']]

,Lfd. Nummer,Name des Flughafens,Ort,Land,IATA,ICAO,Latitude,Longitude,Altitude
0,8703,Barberton Airport,Barberton,South Africa,0,FABR,-25.716869,30.975180,686
1,330,Jena-Schöngleina Airport,Jena,Deutschland,0,EDBJ,50.915279,11.714444,380
2,13493,COLNIZA Airport,COLNIZA,Brazil,0,SIXZ,-9.446111,-59.199167,168
3,1165,Kigali International Airport,Kigali,Rwanda,KGL,HRYR,-1.968630,30.139500,1481
4,10723,Elsenthal Grafe Airport,Elsenthal,Deutschland,0,EDNF,48.822498,13.367500,432
...,...,...,...,...,...,...,...,...,...
7842,1519,Cagliari Elmas Airport,Cagliari,Italy,CAG,LIEE,39.251499,9.054280,4
7843,1522,Torino-Aeritalia Airport,Turin,Italy,0,LIMA,45.086399,7.603370,287
7844,1528,Genoa Cristoforo Colombo Airport,Genoa,Italy,GOA,LIMJ,44.413300,8.837500,4
7845,1532,Piacenza San Damiano Air Base,Piacenza,Italy,0,LIMS,44.913102,9.723322,139
7846,1537,Cervia Air Base,Cervia,Italy,0,LIPC,44.224201,12.307200,5